In [1]:
from glob import glob
from glob import iglob

In [3]:
g = glob('data/*.jpg')
# %time int(max(g))
%time max([int(x[5:-4]) for x in g])

CPU times: user 1.28 ms, sys: 9 µs, total: 1.29 ms
Wall time: 1.29 ms

3707

In [5]:
%time int(max(g)[5:-4])

CPU times: user 193 µs, sys: 1 µs, total: 194 µs
Wall time: 198 µs

3707

In [6]:
ig = iglob('data/*.jpg')
% time int(max(ig)[5:-4])

CPU times: user 12.7 ms, sys: 6.75 ms, total: 19.5 ms
Wall time: 17.7 ms

3707

In [15]:
import readchar

In [18]:
import sys

In [19]:
sys.version

'3.6.3 |Anaconda, Inc.| (default, Dec  5 2017, 17:30:25) \n[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]'

In [1]:
from pandas import DataFrame

In [2]:
import numpy as np

In [16]:
ids = [i for i in range(100)]
output = ['x' for i in range(100)]

# ids = np.array(ids)
# output = np.array(output)

In [22]:
out_df = DataFrame({'ids':ids,'files':output})

In [27]:
out_df = DataFrame({'ids':ids,'labels':output})
out_df.head()

   ids labels
0    0      x
1    1      x
2    2      x
3    3      x
4    4      x

In [28]:
out_df.to_csv('temp.csv',index=False)

In [29]:
import pandas as pd
out_df = pd.read_csv('temp.csv')
out_df.head()

   ids labels
0    0      x
1    1      x
2    2      x
3    3      x
4    4      x